@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-primary: 1 85% 60%;
    --accent-secondary: 27 80% 50%;

    --background: 0 0% 12%;
    --foreground: 0 0% 95%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 62.14% 30.6%;
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gradient,
strong {
  background: linear-gradient(
    to right,
    hsl(var(--accent-primary)),
    hsl(var(--accent-secondary))
  );

  color: transparent;
  background-clip: text;
}
